
html, body{
    margin:0;
    padding:0;
}

.container-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px 10%;
    background-color:#6a72ba;
    position: sticky;
    top:0;
    z-index:1000;
}

.hero{
    text-align:center;
    padding-top: 250px;
    padding-bottom: 220px;
}

h1{
    font-size:80px;
}

#title{
    text-align: center;
}

