
html, body{
    margin:0;
    padding:0;
}

section{
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom:50px;
}

.container-header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 15px 10%;
    background-color:#6a72ba;
    position: sticky;
    top:0;
    z-index:1000;
}

.nav {
    display: flex;
    gap: 10px;
     list-style: none;
}
.nav a{
    text-decoration: none;
    text-decoration: none;
    font-size:16px;
    font-weight:500;
    transition:color 0.3s ease;
    flex-direction: row;
    color: black;

}
.nav a:hover{
    color: pink;

}

.hero{
    text-align:center;
    padding-top: 250px;
    padding-bottom: 260px;
}

h1{
    font-size:80px;
}

.title{
    text-align: center;
    font-size: 40px;
}



.person{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 60px;
}
.about-text{
    flex: 1;
}
.person img{
    width: 30%;
    height: auto;
}


.tech-hero{
    display: flex;
    justify-content:space-between;
    align-items:center;
    gap:50px;
    margin-bottom:50px;
}

.tech-hero-text{
    flex:1
}
.tech-hero img{
    width:30%;
    height: auto;
}

